/* reviews and rating part */
.review-container {
    display: flex;
    background: white;
    padding: 45px;
    border-radius: 10px;
    box-shadow: 15px 15px 0 #98c7a3;
    gap: 15px;
    flex-wrap: wrap;
    align-items: center;
    width: 75%;
    margin: 0 0 40px 0;
}

.review-container .display-pic {
    width: 5%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 100%;
}

.review-container .heading{
    font-weight: bold;
    width: 80%;
}

.review-container .star-rating{
    font-size: 1.5rem;
    width: auto;
    text-align: right;
}

.review-container .star-icon-review {
    height: 1.2rem;
}

.review-container .review-image {
    width: 8%;
}

.review-container .description {
    width: 90%;
}

.review-container .date {
    color: lightslategray;
}

.review-images {
    display: flex;
    gap: 10px;
    margin: 10px 0;
    width: 100%;
}

.review-images img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 4px;
}