body {
    margin: 0;
    background-color: #e3ece0;
}

.header {
    position: sticky;
    top: 0;
    padding: 10px 16px;
    align-content: center;
    background: #90c29a;
    color: #025000;
    height: 50px;
    text-align: left;
    font-size: 40px;
    font-family: 'SuperRad-Regular', serif;
    box-shadow: 0px 5px 10px darkgray;
}
h2 {
    font-family: Verdana, sans-serif;
}



