#background { /* background slant */
    background: #90c29a;
    width: 100%;
    height: min(max(70vw, 400px), 900px);
    transform: skewY(-10deg);   /* background slant */
    translate: 0px -200px;
    z-index: -1;
    position: absolute;
}

h2 {
    font-size: 3rem;
    color: #025000;
}

.resto-list-container {
    width: 90%;
    margin: 20px auto;
}

.listed-resto {
    display: flex;
    background: white;
    padding: 45px;
    border-radius: 20px;
    box-shadow: 15px 15px 0 #98c7a3;
    flex-wrap: wrap;
    width: 92%;
}

.resto-logo-container {
    width: 10%;
    height: 100%;
}

.resto-logo {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 100px;
    aspect-ratio: 1/1;
    border: solid 5px #025000;
}

.resto-info-container {
    width: 90%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.resto-name {
    font-size: 2rem;
    font-weight: bold;
    margin-left: 20px;
    width: 80%;
}

.star-rating {
    font-size: 1.3rem;
}

.resto-desc {
    margin-top: 10px;;
    margin-left: 20px;
}

.star-icon {
    height: 1.2rem;
}



