section {
    margin: 25px  100px  6px 100px;
    padding: 40px;
    background-color: rgb(209, 225, 208);
    font-family: Verdana, sans-serif;
    border-radius: 20px;
}

h2 {
    color: #025000;
    margin: 0 16px 40px 0;
}

hr {
    border: dotted #025000 6px;
    border-bottom: none;
    width: 80%;
    margin: 50px auto;
}

.establishment-info-container {
}

.establishment-image {
    width: 250px;
    height: 250px;
    border:solid #025000;
    margin-right: 20px;
    float:left;
    border-radius: 10px;
    aspect-ratio: 1/1;
    object-fit: cover;

}

.establishment-location {
    width: 10%;
}

.establishment-desc {
    line-height: 2;
    text-align: justify;
}
.star-icon {
    height: 1.2rem;
}

.border{
    clear: both;
}

.attribute-ratings div{
    text-align: center;
    margin: 10px auto;
    border: solid #025000;
    border-radius: 10px;
    background-color: #90c29a;
    display:inline-block;
    width: 150px;
    height:125px;
}

.attribute-ratings {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically (if needed) */
    gap: 10px; /* Adds spacing between divs */
    flex-wrap: wrap; /* Ensures responsiveness */
}

.review-image {
    width: min(10vw, 110px);
    aspect-ratio: 1/1;
    object-fit: cover;
}

.rater{
    font-weight: bold;
}
/*
.reviews-container {
    display: flex;
    background-color: #cff8d8a7;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
*/
.star-icon-review {
    height: 1rem;
}

.reviews-container {
    display: flex;
    background: #f9f9f9;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    gap: 15px;
    align-items: center;
}




