/*
section {
    margin: 25px  100px  6px 100px;
    padding: 40px;
    background-color: rgb(209, 225, 208);
    font-family: Verdana, sans-serif;
    border-radius: 20px;
}
*/

h2 {
    /*color: #025000;*/
    margin: 0 16px 40px 0;
}

hr {
    border: dotted #025000 6px;
    border-bottom: none;
    width: 80%;
    margin: 50px auto;
}

.establishment-info-container {
    
}

.base-info-header-bg {
    background-image: url('../../images/ross-kitchenetee_banner.jpg');
    height:500px;
    background-position: center;
    /*border-radius: 20px; */
    display: flex;
    background-size: cover;
}

.base-info-header{
    background-color: rgb(209, 225, 208);
    align-self: flex-end;
    padding: 10px 10px 10px 50px;
    margin: 0 0 50px -20px;
    border-radius: 20px;
    box-shadow: 15px 15px 0 #98c7a3;
}

.establishment-name {
    font-size: 3rem;
    font-weight: bold;
}

.establishment-image {
    width: 250px;
    height: 250px;
    border:solid #025000;
    margin-right: 20px;
    float:left;
    border-radius: 10px;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.tabs__sidebar {
    width: 100%;
    flex-shrink: 0;
    background: #cccccc;
}

.tabs__button {
    padding: 10px;
    background: #eeeeee;
    border: none;
    outline: none;
    width: 10%;
    cursor: pointer;
}

.tabs_button: active {
    background: #dddddd;
}

.tabs__button:not(:last-of-type) {
    border-right: 1px solid #cccccc;
}

.tabs_button--active {
    font-weight: bold;
    border-bottom: 2px solid #009879;
    background: #dddddd;
}

.tabs__content {
    padding: 15px;
    font-size: 1.2rem;
    display: none;
}

.tabs__content--active {
    display: block;
}

.establishment-tabs {
    margin: 10px auto;
    padding: 10px;
}

.establishment-desc {
    line-height: 2;
    text-align: justify;
}
.star-icon {
    height: 1.2rem;
}

.border{
    clear: both;
}

.supplementary-info {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically (if needed) */
    gap: 50px; /* Adds spacing between divs */
    flex-wrap: wrap; /* Ensures responsiveness */
}

.supplementary-info div{
    text-align: center;
    margin: 10px auto;
    border: solid #98c7a3;
    border-radius: 10px;
    background-color: rgb(209, 225, 208);   
    /*display:inline-block; */
    width: 300px;
    height: 115px;
    box-shadow: 15px 15px 0 #98c7a3;
    font-size: 1.2rem;
    padding: 10px;
}

.supplementary-info div span{
    padding: 0 5px;
}

.supplementary-info h3 {
    font-size: 1.3rem;
}

.reviews-holder{
    margin: 25px 0 10px 20px;
    width: 80%;
    padding: 40px;
    background-color: rgb(209, 225, 208);
    font-family: Verdana, sans-serif;
    border-radius: 20px;
}

.rater-pfp {
    width: min(10vw, 110px);
    aspect-ratio: 1/1;
    object-fit: cover;
}

.rater{
    font-weight: bold;
}
/*
.reviews-container {
    display: flex;
    background-color: #cff8d8a7;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
*/
.star-icon-review {
    height: 1rem;
}

.review-container {
    display: flex;
    background: #f9f9f9;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 15px 15px 0 #98c7a3;
    gap: 15px;
    flex-wrap: wrap;
    align-items: center;
}

.review-image {
   width: 8%;
}

.rater {
    width: 85%;
}

.star-rating{
    font-size: 1.5rem;
}

.review-desc {
    margin-left: 30px;
    width: 60%;
}

.rate-date {
    margin-left: 30px;
    width:100%;
    color:rgb(129, 129, 129);
}




