section {
    margin: 25px  100px  6px 100px;
    padding: 40px;
    background-color: rgb(209, 225, 208);
    font-family: Verdana, sans-serif;
    border-radius: 20px;
}

h2 {
    color: #025000;
    margin: 0 16px 40px 0;
}

hr {
    border: dotted #025000 6px;
    border-bottom: none;
    width: 80%;
    margin: 50px auto;
}

.establishment-info-container {
}

.establishment-image {
    width: 250px;
    height: 250px;
    float: left;
    /*margin-right: 20px;*/
    border:solid #025000;
}

.establishment-desc {
    line-height: 2;
    margin-left: 300px;
}
.star-icon {
    height: 1.2rem;
}

.border{
    clear: both;
}

.attribute-reviews div{
    text-align: center;
    margin: 10px auto;
    border: solid #025000;
    border-radius: 10px;
    background-color: #89de87;
    display:inline-block;
    width: 150px;
}

.attribute-reviews {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically (if needed) */
    gap: 10px; /* Adds spacing between divs */
    flex-wrap: wrap; /* Ensures responsiveness */
}